<ion-content class="card-background-page">

    <ion-item-group>
          <ion-card>
            <img src="../../assets/images/carretaFuracao/cana-de-acucar-na-mesa-de-madeira.jpg"/>
            <ion-card-content>
              <ion-card-title>
                <div class="card-title">Cana de Açúcar</div>
                </ion-card-title>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <img src="../../assets/images/carretaFuracao/alho-branco-na-mesa.jpg"/>
            <ion-card-content>
              <ion-card-title>
                <div class="card-title">Alho</div>
                </ion-card-title>
            </ion-card-content>
          </ion-card>
    </ion-item-group>

</ion-content>