  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>

<ion-content fullscreen>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Sobre</ion-title>
    </ion-toolbar>
  </ion-header>,
    <ion-card>
      <img alt="logo" src="../assets/icon/icon.png">
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>SICANA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
  </ion-content>