<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{registro.funcionario}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <ion-card>
    <ion-card-header>
      <ion-card-title>imagem e dados da praga (estamos trabalhando para entregar o melhor conteúdo)</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      

      {{registro.observacao}}

    </ion-card-content>

  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label>funcionario:</ion-label>
      <ion-label>{{registro.funcionario}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Fazenda:</ion-label>
      <ion-label>{{registro.fazenda}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Talhão:</ion-label>
      <ion-label>{{registro.talhao}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Setor:</ion-label>
      <ion-label>{{registro.setor}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Variedade:</ion-label>
      <ion-label>{{registro.variedade}}</ion-label>
    </ion-item>

  </ion-list>


</ion-content>