<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>

    </ion-buttons>
    <ion-title>Local</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button ion-fab color="success"  (click)="save()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-button ion-fab color="success" (click)="onButtonClick()">
      <ion-icon name="location-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <div id="map_canvas">

  </div>


</ion-content>