<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title>Gerar Alerta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="alertForm" (ngSubmit) = "send()">
    <ion-list>

      <ion-item>
        <ion-label position="floating">Funcionário: </ion-label>
        <ion-input formControlName="funcionario" [(ngModel)]="funcionario" text-right id="input"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Talhão</ion-label>
        <ion-select value="brown" okText="selecionar" cancelText="cancelar">
          <ion-select-option >1</ion-select-option>
          <ion-select-option >2</ion-select-option>
          <ion-select-option >3</ion-select-option>
          <ion-select-option >4</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Observações: </ion-label>
        <ion-textarea formControlName="observacao" [(ngModel)]="observacao" text-right id="input"></ion-textarea>
      </ion-item>

      <div class="prioridade">
        <label >Prioridade:</label>
        <ion-segment>
          <ion-segment-button value="baixa">
            <ion-label color="primary">baixa</ion-label>
          </ion-segment-button>
          <ion-segment-button value="média">
            <ion-label>média</ion-label>
          </ion-segment-button>
          <ion-segment-button  color="danger" value="alta">
            <ion-label color="danger">alta</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <ion-button color="success" expand="block" routerLink="/map">
        <ion-icon name="location-sharp"></ion-icon>
        selecionar local
      </ion-button>
      

      <ion-button color="success" [disabled]="!alertForm.valid" type="submit" expand="block"  (click)="sendPostRequest()">
        Enviar
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>




    </ion-list>
    
  </form>   


</ion-content>

