<ion-header background="green">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <img alt="logo" class="header_logo" height="50" src="assets/images/logo.png">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 


  <ion-card>
    <img src="../../assets/images/cupim.jpg" />
    <ion-card-header>
    
      <ion-card-title>Cupins</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      São insetos sociais que vivem em colônias organizadas. Perdas ocorrem com falhas na brotação das soqueiras e redução da longevidade do canavial. A maioria das espécies de cupins não é agressiva à cultura, ao contrário é benéfica. Podem reduzir em até 10 t de cana/ha/ano, além de ocasionarem redução da longevidade do canavial.
    </ion-card-content>
    <ion-list>
      <ion-button color="success" routerLink="/detalhes" class="botao">detalhes</ion-button>
    </ion-list>
  </ion-card>



  
</ion-content>
