ion-button{
    margin-left: 50%;
    
    
}
ion-toolbar{
    --ion-background-color:rgb(99, 241, 111);
}
ion-title{
    margin-left: 40%;
}
.botao:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .posicao{
      height:30%;
  }
  ion-content{
      background-image:url(../../assets/images/canavial.jpg);
  }
