<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Praga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Imagem</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button color="success" (click)="photoService.addNewToGallery()">Câmera</ion-button>
  <ion-button color="success" routerLink="/map">
      
    <ion-icon name="location-sharp"></ion-icon>
    selecionar local
    </ion-button>
  <ion-item>
    <ion-label position="floating">Nivel</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Infestação</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Observação</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  
  <ion-button color="success" >ENVIAR</ion-button> <br>
    
    
    
    
 
    <ion-content>
      <ion-grid >
        <ion-row>
        <ion-col size="4" 
          *ngFor="let photo of photoService.photos; index as position">
            <ion-img src="{{ photo.webviewPath }}"></ion-img>
        </ion-col>
        </ion-row>
      </ion-grid>
    
      <!-- ion-fab markup  -->
    </ion-content>


</ion-content>