<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button>

    </ion-buttons>
    <ion-title>Identificar Nova</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-item>
      <ion-label position="floating">Funcionário:</ion-label>
      <ion-input type="text" [(ngModel)]="funcionario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Fazenda:</ion-label>
      <ion-input type="text" [(ngModel)]="fazenda" placeholder="código da fazenda"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Setor:</ion-label>
      <ion-input type="text" [(ngModel)]="setor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Talhão:</ion-label>
      <ion-input type="text" [(ngModel)]="talhao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Variedade:</ion-label>
      <ion-input type="text" [(ngModel)]="variedade" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Observação:</ion-label>
      <ion-input type="text" [(ngModel)]="observacao"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input type="text" [(ngModel)]="latitude" disabled>Lat: {{lat}}</ion-input>
      <ion-input type="text" [(ngModel)]="longitude" disabled>Lng: {{lng}}</ion-input>
    </ion-item>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="takePicture()">
          <ion-icon name="camera-outline"></ion-icon>Câmera
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success" expand="block" routerLink="/map">
          <ion-icon name="location-sharp"></ion-icon>selecionar local
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-button color="success" expand="block" (click)="sendPostRequest()" (click)="presentLoading()">
    <ion-icon slot="end" name="create"></ion-icon>
    ENVIAR
  </ion-button>


  <img [src]="capturedSnapURL"/>


</ion-content>