<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Praga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Funcionário</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Praga</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fazenda</ion-label>
    <ion-select value="brown" okText="salvar" cancelText="fechar">
      <ion-select-option value="brown">Fazenda</ion-select-option>
      <ion-select-option value="blonde">Fazenda 2</ion-select-option>
      <ion-select-option value="black">Fazenda 3</ion-select-option>
      <ion-select-option value="red">Fazenda 4</ion-select-option>
    </ion-select>
  </ion-item>
  
  
  
  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  
  
    <ion-button color="success" (click)="photoService.addNewToGallery()">Câmera</ion-button>
    
    <ion-button  routerLink="/localizacao" color="success" >
    <ion-icon name="location-sharp"></ion-icon>
    selecionar local
    </ion-button>
 
    <ion-content>
      <ion-grid >
        <ion-row>
        <ion-col size="4" 
          *ngFor="let photo of photoService.photos; index as position">
            <ion-img src="{{ photo.webviewPath }}"></ion-img>
        </ion-col>
        </ion-row>
      </ion-grid>
    
      <!-- ion-fab markup  -->
    </ion-content>


</ion-content>