.header_logo{
width: auto;
margin: auto;
display: block;
}

.card-button:active{

    background-color: rgb(245, 13, 13); 
}

  
  .slide-text{
    position: absolute;
    color: white;
    bottom: 30px;
  }

 // card de clima
