<ion-header >
  <ion-toolbar color="success" >
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
     
    </ion-buttons>
    
    <ion-buttons slot="primary">
      {{ today | date: 'dd/MM HH:mm' }}
    </ion-buttons>
    <ion-title>Bevap</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true" >
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-icon name="notifications" size="large" color="danger" (click)="presentAlert()"></ion-icon>
  </ion-fab>

  <ion-card *ngFor="let registro of registrosSalvos">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>{{registro.funcionario}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{registro.observacao}}
    </ion-card-content>
  </ion-card>

  <ion-button (click) ="click()" class="botao">
   ver registros
  </ion-button>

</ion-content>
