<ion-app slot="end">
  <ion-split-pane contentId="main-content" >
    <ion-menu contentId="main-content" type="overlay" auto-hide="true">
      <ion-header>
        <ion-toolbar>   
            <img alt="logo" id="header_logo" height="40" src="../assets/icon/icon.png">
           
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-list>
          <ion-menu-toggle auto-hide="true">
            <ion-item routerLink="/about">Sobre</ion-item>
            <ion-item routerLink="/selecionar-cultura" auto-hide="true">
              Selecionar cultra
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
      <ion-footer>
        <label >Copyright@ SICANA 2020</label>
      </ion-footer>
      
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>