<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <title>Alo</title>
</head>
<body>
  <div class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

      
    </div>
  </div>
</body>
</html>

<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">

    </ion-buttons>
    <ion-title>selecionar cultura</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <div class="container">
    <div class="background">
      <div class="Circle1"></div>
      <div class="Circle2"></div>
      <div class="Circle3"></div>
      <div class="content">
        <h1 class="Condition">Carmo do Paranaíba</h1>
        <h1 class="Temp">23<span id="F">&#8451;</span></h1>
        <h1 class="Time">20:36</h1>
        <h1 class="Location"><i class="material-icons locationIcon">Local </i>MG</h1>
      </div>
    </div>
  </div>

  <br>


  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button (click)="canaPage()">
          cana
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-button>
          café
        </ion-button>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button>
          alho
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-button>
          abacate
        </ion-button>
      </ion-col>
    </ion-row>
<br>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button>
          beterraba
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-button>
          cenoura
        </ion-button>
      </ion-col>
    </ion-row>
<br>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button>
          repolho
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center;">
        <ion-button>
          café
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>





</ion-content>