
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title>Selecione um cultivo</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>  
  <div class="widget">
              
    <div class="left-panel panel">
        <div class="date">
          {{ data | date: 'dd/MM/yyyy HH:mm' }}
        </div>
        <div class="city">
           {{cidade.city}}
        </div>
        <div class="temp">
           <img src="https://s5.postimg.cc/yzcm7htyb/image.png" alt="" width="60">
           25&deg;
        </div>
    </div>
    <div class="right-panel panel">
        <img src="https://s5.postimg.cc/lifnombwz/mumbai1.png" alt="" width="160">
    </div>
  
  </div>


  <ion-grid>
    <ion-row>
      <ion-col>
        <label class="tituto-style" style="text-align: center;"> <strong>Culturas</strong></label>
        <ion-searchbar placeholder="Pesquisar cultura" showCancelButton="always" animated (ionChange)="onSearchTerm($event)"> </ion-searchbar>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid class="card-background-page">
      <ion-row>
        <ion-col>
          <ion-card class="card-style" (click)="canaPage()">
            <img alt="cana" src="../../assets/images/carretaFuracao/cana-de-acucar-na-mesa-de-madeira.jpg"/>
            <ion-card-content>
              <ion-card-title>
                <div class="card-title">Cana de Açúcar</div>
                </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="card-style" (click)="alhoPage()">
            <img alt="alho" src="../../assets/images/carretaFuracao/alho-branco-na-mesa.jpg"/>
            <ion-card-content>
              <ion-card-title>
                <div class="card-title">Alho</div>
                </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid class="card-background-page">
    <ion-row>
      <ion-col>
        <ion-card class="card-style" (click)="canaPage()">
          <img alt="cana" src="../../assets/images/carretaFuracao/cafe.jpg"/>
          <ion-card-content>
            <ion-card-title>
              <div class="card-title">Café (em breve)</div>
              </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card-style" (click)="alhoPage()">
          <img alt="alho" src="../../assets/images/carretaFuracao/blueberry.jpg"/>
          <ion-card-content>
            <ion-card-title>
              <div class="card-title">Blueberry (em breve)</div>
              </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>

<ion-grid class="card-background-page">
  <ion-row>
    <ion-col>
      <ion-card class="card-style" (click)="canaPage()">
        <img alt="cana" src="../../assets/images/carretaFuracao/beterraba.jpg"/>
        <ion-card-content>
          <ion-card-title>
            <div class="card-title">Beterraba (em breve)</div>
            </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card class="card-style" (click)="alhoPage()">
        <img alt="alho" src="../../assets/images/carretaFuracao/cenoura.jpg"/>
        <ion-card-content>
          <ion-card-title>
            <div class="card-title">Cenoura (em breve)</div>
            </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<!-- <ion-grid class="card-background-page">
  <ion-row>
    <ion-col>
      <ion-card class="card-style" (click)="canaPage()">
        <img alt="cana" src="../../assets/images/carretaFuracao/abacate.jpg"/>
        <ion-card-content>
          <ion-card-title>
            <div class="card-title">Abacate (em breve)</div>
            </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>

    </ion-col>
  </ion-row>
</ion-grid> -->


</ion-content>

