
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title>Selecione um cultivo</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>  
  <div class="widget">
              
    <div class="left-panel panel">
        <div class="date">
            Sexta-feira, 27 Nov 2020
        </div>
        <div class="city">
            Carmo do Paranaíba
        </div>
        <div class="temp">
           <img src="https://s5.postimg.cc/yzcm7htyb/image.png" alt="" width="60">
           25&deg;
        </div>
    </div>
    <div class="right-panel panel">
        <img src="https://s5.postimg.cc/lifnombwz/mumbai1.png" alt="" width="160">
    </div>
  
  </div>

  <label class="tituto-style"> <strong>Culturas</strong></label>
  <ion-grid class="card-background-page">
      <ion-row>
        <ion-col>
          <ion-card class="card-style" (click)="canaPage()">
            <img alt="cana" src="../../assets/images/carretaFuracao/cana-de-acucar-na-mesa-de-madeira.jpg"/>
            <ion-card-content>
              <ion-card-title>
                <div class="card-title">Cana de Açúcar</div>
                </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="card-style" (click)="alhoPage()">
            <img alt="alho" src="../../assets/images/carretaFuracao/alho-branco-na-mesa.jpg"/>
            <ion-card-content>
              <ion-card-title>
                <div class="card-title">Alho</div>
                </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/tabs/tab3" color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>

