<ion-header >
  <ion-toolbar color="success" >
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" slot="end"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Dúvidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <p>Insira sua dúvida para nossa equipe de suporte, logo retornaremos a você sanando quaisquer perguntas ou problemas.</p>
    <br>
    <ion-item>
      <ion-label position="floating">Assunto:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Insira sua dúvida:</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <br>
    <ion-button color="success" expand="block">
      <ion-icon slot="end" name="create"></ion-icon>
      ENVIAR
    </ion-button>
  </div>
</ion-content>
