<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <ion-title>detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
 <ion-list>
  <ion-item>
    Praga
    <ion-item>
      Cupim
    </ion-item>
  </ion-item>

  <ion-item>
    Ameça
    <ion-item>
     <ion-text color="danger">Grave</ion-text>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-button><ion-icon name="location-outline"></ion-icon> local</ion-button>
 
  </ion-item>
 </ion-list>

</ion-content>
