<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <ion-title>detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
 <ion-list>
  <ion-item>
    Praga
    <ion-item>
      Cupim
    </ion-item>
  </ion-item>

  <ion-item>
    Ameça
    <ion-item>
     <ion-text color="danger">Grave</ion-text>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-button >local de infestação</ion-button>
 
  </ion-item>


  <ion-item>
    <label>metodos para combater: </label>
    <ion-item>
      denfensivos agricolas
    </ion-item>
  </ion-item>
 </ion-list>
 <ion-button color="success" (click) ="presentAlert()">Câmera</ion-button>
    
 <ion-button color="success" >
 <ion-icon name="location-sharp"></ion-icon>
 selecionar local
 </ion-button>

 <ion-button color="success" (click) ="presentAlert()">Enviar aviso</ion-button>

</ion-content>
