<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{praga.img}}" alt="">
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{praga.nome}}</ion-card-title>
    </ion-card-header>

  
  </ion-card>


  <ion-item>
    Estamos em constantes pesquisas para trazer o melhor conteúdo sobre essa praga
  </ion-item>




  

</ion-content>